/* indexstyle.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 40px 20px;
    font-family: Poppins, serif;
    background-color: #F3E5D8;
    color: #4B3E2E;
    line-height: 1.6;
    box-sizing: border-box;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
    color: #A41C1C;
    margin-bottom: 50px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #4B3E2E;
    margin-bottom: 20px;
    border-bottom: 2px solid #A41C1C;
    padding-bottom: 8px;
}

.analytics-section{
    background-color: white;
    padding: 30px;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0 6px 10px black;
    max-width: 1000px;
}

.analytics-section div{
    margin-top: 10px;
}

button{
    margin-top: 10px;
    padding: 10px 18px;
    background-color: #E6CBBA;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color:#4B3E2E;
}

button:hover{
    background-color: #D8BFA7;
}

.clothes-item{
    background-color: #FFF9F3;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 950px;
    margin-bottom: 10px 0;
}




.left-button{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.left-button button{
    padding: 8px 16px;
    font-family: 'Playfair Display',serif;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.left-button button:hover{
    background-color: #555;
}

